# Pupped installed file

Host *
   ForwardAgent yes
   ForwardX11 no
   ForwardX11Trusted yes
   RhostsRSAAuthentication no
   RSAAuthentication yes
   PasswordAuthentication yes
   HostbasedAuthentication no
   CheckHostIP no
   SendEnv LANG LC_*
   HashKnownHosts no
   GSSAPIAuthentication yes
   GSSAPIDelegateCredentials no

